


.row , div,.col-12{
  padding: 0px;
  margin: 0px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  
  
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}



a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: left;
  color: #000000;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}




.section-heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.section-heading h2 {
  font-size: 28px;
  font-weight: 800;
  color: #232d39;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-heading h2 em {
  font-style: normal;
  color: #ed563b;
}

.section-heading img {
  margin: 20px auto;
}

.dark-bg h2 {
  color: #fff;
}

.dark-bg p {
  color: #fff;
}
p.sub_heading{
  text-align: center !important;
}
figure{
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  padding: 5px;
}
figcaption{
  text-align: center;
  background-color: #f8f9fa;
  padding: 10px 2px;

}

img{
  width: 100%;
}
/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.header-area .navbar .logo em {
  font-size: 25px;
  font-style: normal;
  color: #ed563b;
  font-weight: 900;
}



.header-area .navbar  li:hover a,
.header-area .navbar  li a.active {
  color: #ed563b!important;
  opacity: 1;
}

.background-header .navbar .nav li:hover a,
.background-header .navbar .nav li a.active {
  color: #ed563b!important;
  opacity: 1;
}





/* 
---------------------------------------------
Table Of Content
--------------------------------------------- 
*/

.tableofcontentbox{
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  display: inline-block;
  text-align: left;


}

ol.tableofcontent{
  
  text-align: left;
  padding: 10px;
}
.tableofcontent li{

    list-style-position: inside;
    font-size: 20px;
}
.tableofcontentbox h3{
  padding:5px 15px;
  text-align: center;
}


/* 
---------------------------------------------
Types table
--------------------------------------------- 
*/
table,th,td{
  border: 1px solid #a2a9b1;
}

th,td{
  padding: 5px;
}
thead > tr{
  background-color: #eaecf0;
  text-align: center;
  height: 50px;
  font-size: 14px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
table{
  margin-top: 10px;
  margin-bottom: 20px;
}
/* 
---------------------------------------------
See also
--------------------------------------------- 
*/
.seealso li a{
 font-size: 20px;
 font-weight: bold;
}


/* 
---------------------------------------------
References
--------------------------------------------- 
*/
.references > li {
  font-size: 18px;
}



/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  text-align: center;
  padding: 30px 0px;
  background-color: #f2f2f2;

}

footer p {
  color: #232d39;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

footer p a,em {
  cursor: pointer;
  color: #ed563b;
}

footer p a:hover {
  color: #ed563b;
}







